@page "/management/products/new"

<Row Flex="Flex.JustifyContent.Center.AlignItems.Center" Margin="Margin.Is5.FromTop">
    <Column ColumnSize="ColumnSize.Is6.OnDesktop">
        <Card>
            <CardHeader>
                <CardTitle>New product</CardTitle>
            </CardHeader>
            <CardBody>
                <EditForm Model="@Product" OnValidSubmit="AddAction">
                    <Validations @ref="_validations" ValidateOnLoad="false" Mode="ValidationMode.Auto" Model="Product">
                        <DataAnnotationsValidator/>
                        <Validation>
                            <Field>
                                <FieldLabel>Name</FieldLabel>
                                <FieldBody>
                                    <TextEdit Placeholder="Enter product name" @bind-Text="@Product.Name">
                                        <ValidationError/>
                                    </TextEdit>
                                </FieldBody>
                            </Field>
                        </Validation>
                        <Validation>
                            <Field>
                                <FieldLabel>Desctiption</FieldLabel>
                                <FieldBody>
                                    <TextEdit Placeholder="Enter product description" @bind-Text="@Product.Description">
                                        <ValidationError/>
                                    </TextEdit>
                                </FieldBody>
                            </Field>
                        </Validation>
                        <Validation>
                            <Field>
                                <FieldLabel>Uri</FieldLabel>
                                <FieldBody>
                                    <TextEdit Placeholder="Enter product uri" @bind-Text="@Product.Slug">
                                        <ValidationError/>
                                    </TextEdit>
                                </FieldBody>
                            </Field>
                        </Validation>
                        <Validation>
                            <Field>
                                <FieldLabel>Category</FieldLabel>
                                <FieldBody>
                                    <Select TValue="Guid" @bind-SelectedValue="Product.CategoryId">
                                        <SelectItem Value="@Guid.Empty">-</SelectItem>
                                        <Repeater Context="repeater" Items="Categories">
                                            <SelectItem Value="@repeater.Id">@repeater.Name</SelectItem>
                                        </Repeater>
                                        <ValidationError/>
                                    </Select>
                                </FieldBody>
                            </Field>
                        </Validation>
                        <Validation>
                            <Field>
                                <FieldLabel>Image Url</FieldLabel>
                                <FieldBody>
                                    <TextEdit Placeholder="Enter image url" @bind-Text="@Product.ImageUrl">
                                        <ValidationError/>
                                    </TextEdit>
                                </FieldBody>
                            </Field>
                        </Validation>
                        <Validation>
                            <Field>
                                <FieldLabel>Price</FieldLabel>
                                <FieldBody>
                                    <NumericPicker TValue="decimal" Min="0.01m" Step="1m" Placeholder="Enter product price" @bind-Value="@Product.Price">
                                        <ValidationError/>
                                    </NumericPicker>
                                </FieldBody>
                            </Field>
                        </Validation>
                        <Button Color="Color.Primary" Type="ButtonType.Submit">Add product</Button>
                    </Validations>
                </EditForm>
            </CardBody>
        </Card>
    </Column>
</Row>