@page "/management/products"

<div class="products">
    <div class="search background">
        <input type="text" class="form-control" placeholder="Search..."
               @bind-Value="@_productParameters.Search" @bind-Value:event="oninput" @onkeyup="async () => await GetProducts()">
        <button class="btn btn-primary m-lg-1" onclick="location.href='/management/products/new'">Create</button>
    </div>

    @foreach (var product in Items)
    {
        <div class="product background">
            <div class="text">
                <img src="@product.ImageUrl" alt="@product.Name">

                <div class="text--value">
                    <div>
                        <label for="name">Name</label>
                        <InputText id="name"
                                   size="100"
                                   class="form-control"
                                   ValueExpression="@(() => product.Name)"
                                   Value="@product.Name"
                                   ValueChanged="@(value => product.Name = value!)"/>
                    </div>
                    <div>
                        <label for="description">Description</label>
                        <InputText id="description"
                                   class="form-control"
                                   ValueExpression="@(() => product.Description)"
                                   Value="@product.Description"
                                   ValueChanged="@(value => product.Description = value!)"/>
                    </div>
                    <div>
                        <label for="category">Category</label>
                        <InputSelect class="form-control" id="category" @bind-Value="product.CategoryId">
                            @foreach (var c in Categories)
                            {
                                <option value="@c.Id">@c.Name</option>
                            }
                        </InputSelect>
                    </div>
                    <div>
                        <label for="price">Price</label>
                        <InputNumber id="price"
                                     class="form-control"
                                     TValue="decimal"
                                     ValueExpression="@(() => product.Price)"
                                     Value="@product.Price"
                                     ValueChanged="@(value => product.Price = value)"/>
                    </div>
                    <div>
                        <label for="imageUrl">ImageUrl</label>
                        <InputText id="imageUrl"
                                   class="form-control"
                                   ValueExpression="@(() => product.ImageUrl)"
                                   Value="@product.ImageUrl"
                                   ValueChanged="@(value => product.ImageUrl = value!)"/>
                    </div>
                </div>
            </div>

            <div class="buttons">
                <button class="btn btn-success" @onclick="() => UpdateAction(product)">Update</button>
                <button style="margin-left: 5px" class="btn btn-danger" @onclick="() => DeleteAction(product)">Delete</button>
            </div>
        </div>
    }
    <div class="paging background">
        <CustomPagination MetaData="MetaData" Spread="1" SelectedPage="() => SelectPageAction(MetaData.CurrentPage)"/>
    </div>
</div>