@page "/management/users"

<Div>
    <TextEdit Background="Background.White" Border="Border.Rounded" Size="Size.Medium" Shadow="Shadow.Small" Role="TextRole.Search" Placeholder="Search..."
              @bind-Text="@_userParameters.Search" @onkeyup="async () => await GetUsers()" Margin="Margin.Is3.FromBottom"/>


    <Row RowColumns="RowColumns.Are1">
        <Repeater Items="Items">
            <Column>
                <Card Margin="Margin.Is3.FromBottom">
                    <CardTitle Padding="Padding.Is2">
                        @context.Username
                    </CardTitle>
                    <CardText Padding="Padding.Is2" Display="Display.Flex.Column">
                        <Text>Email: @context.Email</Text>
                        <Text>First Name: @context.FirstName</Text>
                        <Text>Last Name: @context.LastName</Text>
                    </CardText>
                    <CardFooter Display="Display.Flex.Row" Flex="Flex.JustifyContent.Between">
                        <Buttons>
                            <Button Background="Background.Primary">View</Button>
                            <Button Background="Background.Secondary">Contact</Button>
                        </Buttons>
                        <Button Background="Background.Danger">Delete</Button>
                    </CardFooter>
                </Card>
            </Column>
        </Repeater>
    </Row>


    <Row Margin="Margin.Is3.FromTop" Flex="Flex.JustifyContent.Center">
        <CustomPagination MetaData="MetaData" Spread="1" SelectedPage="() => SelectPageAction(MetaData.CurrentPage)"/>
    </Row>
</Div>