@page "/accounts/login/default"

<div class="login background">
    <div class="form">
        <EditForm Model="DefaultLoginDto" OnValidSubmit="LoginAction">
            <DataAnnotationsValidator/>

            <div class="content">
                <div class="title">
                    <h2>Log in to account</h2>
                </div>

                <div class="fields">
                    <div>
                        <label class="form-label" for="@DefaultLoginDto.Login">Login</label>
                        <InputText class="form-control" type="text" disabled
                                   Value="@DefaultLoginDto.Login"
                                   ValueExpression="() => DefaultLoginDto.Login"
                                   ValueChanged="(v) => v = DefaultLoginDto.Login"/>
                        <ValidationMessage For="@(() => DefaultLoginDto.Login)"></ValidationMessage>
                    </div>

                    <div>
                        <label class="form-label mt-2" for="@DefaultLoginDto.Password">Password</label>
                        <InputText class="form-control" type="password" @bind-Value="DefaultLoginDto.Password"/>
                        <ValidationMessage For="@(() => DefaultLoginDto.Password)"></ValidationMessage>
                        <a href="/accounts/password/reset/request">Forgot password</a>
                    </div>
                </div>

                <div class="buttons">
                    <button class="btn btn-primary" type="submit">Login</button>
                </div>
            </div>
        </EditForm>
    </div>
</div>