@page "/accounts/register"

<Row Flex="Flex.JustifyContent.Center.AlignItems.Center" Margin="Margin.Is5.FromTop">
    <Column ColumnSize="ColumnSize.Is6.OnDesktop">
        <Card>
            <CardHeader>
                <CardTitle>Registration</CardTitle>
            </CardHeader>
            <CardBody>
                <EditForm Model="@RegisterDto" OnValidSubmit="RegisterAction">
                    <Validations @ref="_validations" ValidateOnLoad="false" Mode="ValidationMode.Auto" Model="RegisterDto">
                        <DataAnnotationsValidator/>
                        <Validation>
                            <Field>
                                <FieldLabel>Username</FieldLabel>
                                <FieldBody>
                                    <TextEdit Placeholder="Enter username" @bind-Text="@RegisterDto.Username">
                                        <ValidationError/>
                                    </TextEdit>
                                </FieldBody>
                            </Field>
                        </Validation>
                        <Validation>
                            <Field>
                                <FieldLabel>Email address</FieldLabel>
                                <FieldBody>
                                    <TextEdit Placeholder="Enter email address" @bind-Text="@RegisterDto.Email">
                                        <ValidationError/>
                                    </TextEdit>
                                </FieldBody>
                            </Field>
                        </Validation>
                        <Validation>
                            <Field>
                                <FieldLabel>Password</FieldLabel>
                                <FieldBody>
                                    <TextEdit Role="TextRole.Password"
                                              Placeholder="Enter password" @bind-Text="@RegisterDto.Password">
                                        <ValidationError/>
                                    </TextEdit>
                                </FieldBody>
                            </Field>
                        </Validation>
                        <Validation>
                            <Field>
                                <FieldLabel>Confirm password</FieldLabel>
                                <FieldBody>
                                    <TextEdit Role="TextRole.Password"
                                              Placeholder="Confirm password" @bind-Text="@RegisterDto.ConfirmPassword">
                                        <ValidationError/>
                                    </TextEdit>
                                </FieldBody>
                            </Field>
                        </Validation>
                        <Button Color="Color.Primary" Type="ButtonType.Submit">Sign up</Button>
                    </Validations>
                </EditForm>
            </CardBody>
        </Card>
    </Column>
</Row>