@page "/products/{Uri}"

<Column Margin="Margin.Is2.OnAll" Style="height: 25%">
    <Row>
        <CardDeck>
            <Image Width="Width.Is25" Margin="Margin.Is1.FromEnd" Shadow="Shadow.Small" Border="Border.Rounded" Source="@Item.ImageUrl" Alt="@Item.Name"/>
            <Card Background="Background.White">
                <CardBody>
                    <CardTitle TextColor="TextColor.Primary" Size="5">@Item.Name</CardTitle>
                    <CardTitle Size="5">@Item.Description</CardTitle>
                    <CardTitle TextColor="TextColor.Success" Size="5">$@Item.Price</CardTitle>
                    <Button Background="Background.Secondary" Type="ButtonType.Link" Clicked="() => AddToCartAction(Item)">
                        Add to cart
                    </Button>
                </CardBody>
            </Card>
        </CardDeck>
    </Row>
    <Row>
        <Card Background="Background.White" Shadow="Shadow.Small" Width="Width.Is100" Margin="Margin.Is2.FromTop">
            <CardBody>
                <AuthorizeView>
                    <Authorized Context="auth">
                        <EditForm Model="NewComment" OnValidSubmit="AddCommentAction">
                            <Field Horizontal>
                                <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is10.OnDesktop">
                                    <MemoEdit @bind-Text="@NewComment.Text" Rows="5"/>
                                </FieldBody>
                            </Field>
                            <Button Background="Background.Primary" Type="ButtonType.Submit">Save</Button>
                        </EditForm>
                    </Authorized>
                    <NotAuthorized>
                        <Button Type="ButtonType.Link" To="/accounts/login/find">Log in to leave a comment</Button>
                    </NotAuthorized>
                </AuthorizeView>
            </CardBody>
        </Card>
    </Row>
    @foreach (var comment in Comments)
    {
        var link = "/profile/view/" + comment.Username;
        var isActive = false;

        <Row Margin="Margin.Is2.FromTop">
            <Card Shadow="Shadow.Small" Width="Width.Is100">
                <CardHeader>
                    <CardTitle>
                        <Button Background="Background.Secondary" Type="ButtonType.Link" To="@link">
                            @comment.Username
                        </Button>
                    </CardTitle>
                </CardHeader>
                <CardBody>
                    <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is10.OnDesktop">
                        @if (!(comment.UserId == AuthUser?.Id))
                        {
                            <MemoEdit @bind-Text="@comment.Text" Rows="5" Disabled/>
                        }
                        else
                        {
                            <MemoEdit @bind-Text="@comment.Text" Rows="5"/>
                        }
                    </FieldBody>
                </CardBody>
                <CardFooter>
                    @if (comment.UserId == AuthUser?.Id)
                    {
                        <Button Background="Background.Primary" Clicked="() => UpdateCommentAction(comment)" Disabled="@isActive">Save</Button>
                        <Button Background="Background.Danger" Clicked="() => DeleteCommentAction(comment.Id)">Delete</Button>
                    }
                </CardFooter>
            </Card>
        </Row>
    }
    <Row Margin="Margin.Is3.FromTop" Flex="Flex.JustifyContent.Center">
        <CustomPagination MetaData="MetaData" Spread="1" SelectedPage="() => SelectPageAction(MetaData.CurrentPage)"/>
    </Row>
</Column>