@page "/products"
@page "/products/category/{categoryUrl}"


<Div>
    <TextEdit Border="Border.Rounded" Size="Size.Medium" Shadow="Shadow.Small" Role="TextRole.Search" Placeholder="Search..."
              @bind-Text="@_productParameters.Search" @onkeyup="async () => await GetProducts()" Margin="Margin.Is3.FromBottom"/>

    <Row RowColumns="RowColumns.Are5">
        @foreach (var product in Items)
        {
            var link = "/products/" + product.Uri;

            <Column>
                <Card>
                    <CardImage Source="@product.ImageUrl" Alt="@product.Name">
                    </CardImage>
                    <CardBody>
                        <CardTitle Size="5">@product.Name</CardTitle>
                        <CardText>
                            <Small TextColor="TextColor.Success">$@product.Price</Small>
                        </CardText>
                        <Button Background="Background.Primary" Type="ButtonType.Link" To="@link">
                            <Icon Name="IconName.ArrowRight"/>
                        </Button>
                    </CardBody>
                </Card>
            </Column>
        }
    </Row>

    <Row Margin="Margin.Is3.FromTop" Flex="Flex.JustifyContent.Center">
        <CustomPagination MetaData="MetaData" Spread="1" SelectedPage="() => SelectPageAction(MetaData.CurrentPage)"/>
    </Row>
</Div>