@page "/products"
@page "/products/category/{categoryUrl}"


<Div>
    <TextEdit Background="Background.White" Border="Border.Rounded" Size="Size.Medium" Shadow="Shadow.Small" Role="TextRole.Search" Placeholder="Search..."
              @bind-Text="@_productParameters.Search" @onkeyup="async () => await GetProducts()" Margin="Margin.Is3.FromBottom"/>

    <Row RowColumns="RowColumns.Are5.OnDesktop.Are1.OnMobile" Display="Display.Flex.Row" Flex="Flex.Shrink.Is1">
        <Repeater Items="Items">

            @{ var link = "/products/" + context.Uri; }
            <Column Margin="Margin.Is3.FromBottom">
                <Card>
                    <CardImage Style="height: 325px;" Source="@context.ImageUrl" Alt="@context.Name"/>
                    <CardBody>
                        <CardTitle TextOverflow="TextOverflow.Truncate" Size="5">
                            @context.Name
                        </CardTitle>
                    </CardBody>
                    <CardFooter Flex="Flex.JustifyContent.Between">
                        <Button Background="Background.Primary" Type="ButtonType.Link" To="@link">
                            <Icon Name="IconName.ArrowRight"/>
                        </Button>
                        <Text Style="font-size: 22px" TextColor="TextColor.Success">
                            $@context.Price
                        </Text>
                    </CardFooter>
                </Card>
            </Column>

        </Repeater>
    </Row>

    <Row Margin="Margin.Is3.FromTop" Flex="Flex.JustifyContent.Center">
        <CustomPagination MetaData="MetaData" Spread="1" SelectedPage="() => SelectPageAction(MetaData.CurrentPage)"/>
    </Row>
</Div>