@page "/profile/password/change"

<div class="password-change background">
    <div class="form">
        <EditForm Model="PasswordChangeDto" OnValidSubmit="ChangePasswordAction">
            <DataAnnotationsValidator/>

            <div class="content">
                <div class="title">
                    <h2>Password change</h2>
                </div>

                <div class="fields">
                    <div>
                        <label class="form-label mt-2" for="@PasswordChangeDto.NewPassword">New password</label>
                        <InputText class="form-control" type="password" @bind-Value="PasswordChangeDto.NewPassword"/>
                        <ValidationMessage For="@(() => PasswordChangeDto.NewPassword)"></ValidationMessage>
                    </div>

                    <div>
                        <label class="form-label mt-2" for="@PasswordChangeDto.ConfirmPassword">Confirm password</label>
                        <InputText class="form-control" type="password" @bind-Value="PasswordChangeDto.ConfirmPassword"/>
                        <ValidationMessage For="@(() => PasswordChangeDto.ConfirmPassword)"></ValidationMessage>
                    </div>

                    <div>
                        <label class="form-label mt-2" for="@PasswordChangeDto.ConfirmationCode">Code from email</label>
                        <InputText class="form-control" type="text" @bind-Value="PasswordChangeDto.ConfirmationCode"/>
                        <ValidationMessage For="@(() => PasswordChangeDto.ConfirmationCode)"></ValidationMessage>
                    </div>
                </div>

                <div class="buttons">
                    <button class="btn btn-primary" type="submit">Change</button>
                </div>
            </div>
        </EditForm>
    </div>
</div>