@page "/profile"

<Row Flex="Flex.JustifyContent.Center.AlignItems.Center">
    <Column ColumnSize="ColumnSize.Is6.OnDesktop">
        <Card>
            <CardHeader>
                <CardTitle>Your profile</CardTitle>
            </CardHeader>
            <CardBody>
                <EditForm Model="@UserProfile" OnValidSubmit="SaveAction">
                    <Validations @ref="_validations" ValidateOnLoad="false" Mode="ValidationMode.Auto" Model="UserProfile">
                        <DataAnnotationsValidator/>
                        <Validation>
                            <Field>
                                <FieldLabel>Username</FieldLabel>
                                <FieldBody>
                                    <TextEdit @bind-Text="@UserProfile.Username">
                                        <ValidationError/>
                                    </TextEdit>
                                </FieldBody>
                            </Field>
                        </Validation>
                        <Validation>
                            <Field>
                                <FieldLabel>First name</FieldLabel>
                                <FieldBody>
                                    <TextEdit @bind-Text="@UserProfile.FirstName">
                                        <ValidationError/>
                                    </TextEdit>
                                </FieldBody>
                            </Field>
                        </Validation>
                        <Validation>
                            <Field>
                                <FieldLabel>Last name</FieldLabel>
                                <FieldBody>
                                    <TextEdit @bind-Text="@UserProfile.LastName">
                                        <ValidationError/>
                                    </TextEdit>
                                </FieldBody>
                            </Field>
                        </Validation>
                        <Validation>
                            <Field>
                                <FieldLabel>Gender</FieldLabel>
                                <FieldBody>
                                    <Select TValue="string" @bind-SelectedValue="UserProfile.Gender">
                                        <SelectItem Value="@string.Empty">-</SelectItem>
                                        <SelectItem Value="@(new string("Male"))">Male</SelectItem>
                                        <SelectItem Value="@(new string("Female"))">Female</SelectItem>
                                        <ValidationError/>
                                    </Select>
                                </FieldBody>
                            </Field>
                        </Validation>
                        <Validation>
                            <Field>
                                <FieldLabel>Birth date</FieldLabel>
                                <FieldBody>
                                    <DateEdit TValue="DateTime?" @bind-Date="@UserProfile.BirthDate"/>
                                </FieldBody>
                            </Field>
                        </Validation>
                        <Validation>
                            <Field>
                                <Check TValue="bool" @bind-Checked="@UserProfile.IsTwoAuth">2FA</Check>
                            </Field>
                        </Validation>
                        <Button Color="Color.Primary" Type="ButtonType.Submit">Save profile</Button>
                    </Validations>
                </EditForm>
            </CardBody>
        </Card>
    </Column>
</Row>